node_modules/
*.csv
*.xlsx
*.pptx
*.docx
*.xml
*.pdf
Cities/Forecast folder/
IITM data/RE Stations Forecast Folder/
IITM data/Cities Forecast folder/
IITM data/Cities Forecast Excel/
IITM data/Generated Sheets/

